name: lint

on:
  pull_request:

permissions:
  contents: read

env:
  GO_VERSION: '1.24.4'

jobs:
  lint:
    name: lint
    runs-on:
      group: Default
    steps:
      - uses: actions/checkout@v5

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: latest